<div class="d-flex flex-row w-75 mx-auto">
    <a class="btn d-flex align-items-center justify-content-between" href="https://www.example.com/courses/course1">
      <div>
        <img src="1.png">
      </div>
      <div class="main d-flex flex-column text-left pl-4">
        <div class="tittle">  <h3>Course 1</h3></div>
        <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis nemo dolore maiores nulla laboriosam veritatis animi ex eos, fuga ipsam nam autem quas, quaerat repudiandae iusto reprehenderit? Quidem, iusto tenetur.</div>
        <div class = "author">Author: <span>Author 1</span></div>
        <div class="rating d-flex align-items-center">
          Rating: 4.5
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="order">
          <ul class="list-inline">
            <li class="list-inline-item">Item 1</li>
            <li class="list-inline-item">Item 2</li>
            <li class="list-inline-item">Item 3</li>
          </ul>
        </div>
      </div>
      <!--price and discount 2 line-->
      <div class="price d-flex flex-column align-items-center justify-content-center">
        <div class="price"><h3>1000000</h3></div>
        <div class="discount"><h4>10000</h4></div>
      </div>
    </a>
  </div>
