<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Education</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body {
      height: 100vh;
      background-image: url(https://t3.ftcdn.net/jpg/05/00/34/58/360_F_500345899_4OqmtspFst6SRnNQvLj7h7TfKOrBwTer.jpg);
    }
  </style>
</head>
<body>
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-sm-4">
        {{#if err_message}}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Login failed!</strong> {{err_message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {{/if}}
        <form action="" method="post">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control form-control-lg border-right-0" name="username" placeholder="Username" autofocus>
              <div class="input-group-append">
                <span class="input-group-text bg-white">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control form-control-lg border-right-0" name="password" placeholder="Password">
              <div class="input-group-append">
                <span class="input-group-text bg-white">
                  <i class="fa fa-key" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group d-flex">
            <div>
              <a class="btn btn-lg btn-outline-info btn-block" href="/" role="button">
                <i class="fa fa-home" aria-hidden="true"></i>
                Home
              </a>
            </div>
            <div class="flex-fill ml-2">
              <button type="submit" class="btn btn-lg btn-info btn-block">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                Sign In
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  {{{_sections.js}}}
</body>
</html>
